<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="navbar">
                <div class="navbar__inner">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="#">
                            <img src="./../../assets/img/logo.svg" alt="logo">
                        </a>
                    </div>
                    <!-- Logo End -->

                    <!-- Mobile Logo -->
                    <div class="mobile-logo">
                        <a href="#">
                            <img src="./../../assets/img/mobile-imgs/logo.svg" alt="logo">
                        </a>
                    </div>
                    <!-- Mobile Logo End -->

                    <!-- Form -->
                    <div class="form-search">
                        <form action="#">
                            <input class="search search-text" type="text" placeholder="Поиск">
                        </form>
                    </div>
                    <!-- Form End -->

                    <!-- Menu Icons -->
                    <div class="menu-icons">
                        <div class="icon">
                             <span class="icon__babl icon__babl-font">12</span>
                            <img src="./../../assets/img/menu-icons/favorite.svg" alt="favorite">
                        </div>
                        <div class="icon">
                            <span class="icon__babl icon__babl-font">2</span>
                            <img src="./../../assets/img/menu-icons/cart.svg" alt="cart">
                        </div>
                        <div class="icon">
                            <span class="icon__babl icon__babl--disable icon__babl-font">2</span>
                            <img src="./../../assets/img/menu-icons/logo.svg" alt="logo">
                        </div>
                    </div>
                    <!-- Menu Icons End -->

                    <!-- Mobile Burger -->
                        <div class="burger">
                            <button class="burger__btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    <!-- Mobile Burger End -->
                </div>
            </nav>

            <div class="description">
                <div class="description__inner">
                    <div class="description-text">
                        <h1 class="title mb-20">
                            Крафтовые лакомства для собак
                        </h1>
                        <p class="subtitle mb-35">
                            Всегда свежие лакомства ручной работы с доставкой по России и Миру
                        </p>
                        <button class="btn btn-font">
                            Каталог
                            <i class="btn-icon"></i>
                        </button>
                    </div>
                    <div class="description-img">
                        <div class="description-img__inner">
                            <img src="./../../assets/img/dog.png" alt="Dog">
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu">
                <ul class="menu-list">
                    <li class="menu-list__item">
                        <img class="mb-20" src="./../../assets/img/menu-icons/01.svg" alt="01">
                        <a class="menu-list__link" href="#">Наборы</a>
                    </li>
                    <li class="menu-list__item">
                        <img class="mb-20" src="./../../assets/img/menu-icons/02.svg" alt="01">
                        <a class="menu-list__link" href="#">Лакомства</a>
                    </li>
                    <li class="menu-list__item">
                        <img class="mb-20" src="./../../assets/img/menu-icons/03.svg" alt="01">
                        <a class="menu-list__link" href="#">Аксессуары</a>
                    </li>
                    <li class="menu-list__item">
                        <img class="mb-20" src="./../../assets/img/menu-icons/04.svg" alt="01">
                        <a class="menu-list__link" href="#">Игрушки</a>
                    </li>
                    <li class="menu-list__item">
                        <img class="mb-20" src="./../../assets/img/menu-icons/05.svg" alt="01">
                        <a class="menu-list__link" href="#">Рога</a>
                    </li>
                    <li class="menu-list__item">
                        <img class="mb-20" src="./../../assets/img/menu-icons/06.svg" alt="01">
                        <a class="menu-list__link" href="#">Масла</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>