@import './scss/general';



.title-mb {
    margin-bottom: 20px;
}

.subtitle-mb {
    margin-bottom: 35px;
}

.img-mb {
    margin-bottom: 15px;
}



.bg-blue {
    background-color: $blue;
}

.bg-white {
   background-color: $white;
}


.title {
    font-family: $nunito;
    font-style: normal;
    font-weight: $bold-black;
    font-size: 48px;
    line-height: 52px;
    color: $black;
}

.subtitle {
    font-family: $nunito;
    font-style: normal;
    font-weight: $light;
    font-size: 24px;
    line-height: 28px;
    color: $black;
}

.search-text {
    font-family: $nunito;
    font-style: normal;
    font-weight: $regular;
    font-size: 16px;
    line-height: 20px;
    color: $grey;
}

.btn-font {
    font-family: $nunito;
    font-style: normal;
    font-weight: $extra-bold;
    font-size: 20px;
    line-height: 24px;
    color: $black;
}

.menu-list__link {
    font-family: $nunito;
    font-style: normal;
    font-weight: $bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $black;
}

.heading-font {
    font-family: $nunito;
    font-style: normal;
    font-weight: $extra-bold;
    font-size: 28px;
    line-height: 32px;
    color: $black;
}

.badge-font {
    font-family: $nunito;
    font-style: normal;
    font-weight: $extra-bold;
    font-size: 16px;
    line-height: 20px;
    color: $white;
}


@media (max-width: 375px) {
    .title {
        font-size: 38px;
        line-height: 40px;
        &-mb {
            margin-bottom: 8px;
        }
    }
    .subtitle {
        font-size: 19px;
        line-height: 24px;
        &-mb {
            margin-bottom: 32px;
        }
    }


    .menu-list__link {
        font-size: 14px;
    }
}